@model IEnumerable<TransitNE.Models.BusTrolleySchedule>

@{
    ViewData["Title"] = "GetSelectedBus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetBusLine</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stopname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCalendar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirectionDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stopname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCalendar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectionDesc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
